In [1]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
pdr.get_data_yahoo('AAPL')

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099192,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094017,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087116,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089273,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091861,73449600
...,...,...,...,...,...,...
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93728300
2024-06-18,217.589996,218.630005,213.000000,214.289993,214.289993,79943300
2024-06-20,213.929993,214.240005,208.850006,209.679993,209.679993,86090700
2024-06-21,210.389999,211.889999,209.589996,211.294998,211.294998,42617028

In [2]:
# list 快速建立
[i for i in range(5,10)]

[5, 6, 7, 8, 9]

In [3]:
{item:0 for item in['AAPL', 'MSFT', 'NVDA', 'PLTR']}

{'AAPL': 0, 'MSFT': 0, 'NVDA': 0, 'PLTR': 0}

In [4]:
# 快速建立 Dict
# key 裡面放入 DataFrame

all_data = {item:pdr.get_data_yahoo(item) for item in ['AAPL', 'MSFT', 'NVDA', 'PLTR']}
all_data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'AAPL':                   Open        High         Low       Close   Adj Close  \
 Date
 1980-12-12    0.128348    0.128906    0.128348    0.128348    0.099192
 1980-12-15    0.122210    0.122210    0.121652    0.121652    0.094017
 1980-12-16    0.113281    0.113281    0.112723    0.112723    0.087117
 1980-12-17    0.115513    0.116071    0.115513    0.115513    0.089273
 1980-12-18    0.118862    0.119420    0.118862    0.118862    0.091861
 ...                ...         ...         ...         ...         ...
 2024-06-14  213.850006  215.169998  211.300003  212.490005  212.490005
 2024-06-17  213.369995  218.949997  212.720001  216.669998  216.669998
 2024-06-18  217.589996  218.630005  213.000000  214.289993  214.289993
 2024-06-20  213.929993  214.240005  208.850006  209.679993  209.679993
 2024-06-21  210.389999  211.889999  209.589996  211.294998  211.294998

                Volume
 Date
 1980-12-12  469033600
 1980-12-15  175884800
 1980-12-16  105728000
 1980-12-17   86441600
 1980-12-18   73449600
 ...               ...
 2024-06-14   70122700
 2024-06-17   93728300
 2024-06-18   79943300
 2024-06-20   86090700
 2024-06-21   42617028

 [10972 rows x 6 columns],
 'MSFT':                   Open        High         Low       Close   Adj Close  \
 Date
 1986-03-13    0.088542    0.101563    0.088542    0.097222    0.060163
 1986-03-14    0.097222    0.102431    0.097222    0.100694    0.062311
 1986-03-17    0.100694    0.103299    0.100694    0.102431    0.063386
 1986-03-18    0.102431    0.103299    0.098958    0.099826    0.061774
 1986-03-19    0.099826    0.100694    0.097222    0.098090    0.060700
 ...                ...         ...         ...         ...         ...
 2024-06-14  438.279999  443.140015  436.720001  442.570007  442.570007
 2024-06-17  442.589996  450.940002  440.720001  448.369995  448.369995
 2024-06-18  449.709991  450.140015  444.890015  446.339996  446.339996
 2024-06-20  446.299988  446.529999  441.269989  445.700012  445.700012
 2024-06-21  447.135010  450.389893  446.510010  449.304993  449.304993

                 Volume
 Date
 1986-03-13  1031788800
 1986-03-14   308160000
 1986-03-17   133171200
 1986-03-18    67766400
 1986-03-19    47894400
 ...                ...
 2024-06-14    13582000
 2024-06-17    20790000
 2024-06-18    17112500
 2024-06-20    19848600
 2024-06-21    14120928

 [9646 rows x 6 columns],
 'NVDA':                   Open        High         Low       Close   Adj Close  \
 Date
 1999-01-22    0.043750    0.048828    0.038802    0.041016    0.037621
 1999-01-25    0.044271    0.045833    0.041016    0.045313    0.041562
 1999-01-26    0.045833    0.046745    0.041146    0.041797    0.038337
 1999-01-27    0.041927    0.042969    0.039583    0.041667    0.038218
 1999-01-28    0.041667    0.041927    0.041276    0.041536    0.038098
 ...                ...         ...         ...         ...         ...
 2024-06-14  129.960007  132.839996  128.320007  131.880005  131.880005
 2024-06-17  132.990005  133.729996  129.580002  130.979996  130.979996
 2024-06-18  131.139999  136.330002  130.690002  135.580002  135.580002
 2024-06-20  139.800003  140.759995  129.520004  130.779999  130.779999
 2024-06-21  127.000000  130.630005  124.300003  129.831100  129.831100

                 Volume
 Date
 1999-01-22  2714688000
 1999-01-25   510480000
 1999-01-26   343200000
 1999-01-27   244368000
 1999-01-28   227520000
 ...                ...
 2024-06-14   309320400
 2024-06-17   288504400
 2024-06-18   294335100
 2024-06-20   507542000
 2024-06-21   268271712

 [6395 rows x 6 columns],
 'PLTR':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2020-09-30  10.000000  11.410000   9.110000   9.500000   9.500000  338584400
 2020-10-01   9.690000  10.100000   9.230000   9.460000   9.460000  124297600
 2020-10-02   9.060000   9.280000   8.940000   9.200000   9.200000   55018300
 2020-10-05   9.430000   9.490000   8.920000   9.030000   9.030000   36316900
 2020-10-06   9.040000  10.180000   8.900000   9.900000   9.900000   90864000
 ...               ...        ...        ...        ...        ...        ...
 2024-06-14  23.150000  23.719999  22.840000  23.570000  23.570000   26618300
 2024-06-17  23.469999  25.059999  23.450001  25.020000  25.020000   54101500
 2024-06-18  25.150000  26.025000  24.830000  25.820000  25.820000   54458600
 2024-06-20  26.440001  26.570000  25.155001  25.559999  25.559999   65287600
 2024-06-21  24.709999  24.790001  23.969999  24.350000  24.350000   30001583

 [937 rows x 6 columns]}

In [5]:
test = {item:0 for item in ['AAPL', 'MSFT', 'NVDA', 'PLTR']}  #製作 Dict
for key,value in test.items():     #tuple
    print(key)
    print(value)

AAPL
0
MSFT
0
NVDA
0
PLTR
0

In [9]:
all_data = {item:pdr.get_data_yahoo(item) for item in ['AAPL', 'MSFT', 'NVDA', 'PLTR']}
{key:df['Adj Close'] for key,df in all_data.items()}    #key 裡面value放置 Series

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'AAPL': Date
 1980-12-12      0.099192
 1980-12-15      0.094017
 1980-12-16      0.087116
 1980-12-17      0.089273
 1980-12-18      0.091861
                  ...
 2024-06-14    212.490005
 2024-06-17    216.669998
 2024-06-18    214.289993
 2024-06-20    209.679993
 2024-06-21    211.059998
 Name: Adj Close, Length: 10972, dtype: float64,
 'MSFT': Date
 1986-03-13      0.060163
 1986-03-14      0.062311
 1986-03-17      0.063386
 1986-03-18      0.061774
 1986-03-19      0.060700
                  ...
 2024-06-14    442.570007
 2024-06-17    448.369995
 2024-06-18    446.339996
 2024-06-20    445.700012
 2024-06-21    449.369995
 Name: Adj Close, Length: 9646, dtype: float64,
 'NVDA': Date
 1999-01-22      0.037621
 1999-01-25      0.041562
 1999-01-26      0.038337
 1999-01-27      0.038218
 1999-01-28      0.038098
                  ...
 2024-06-14    131.880005
 2024-06-17    130.979996
 2024-06-18    135.580002
 2024-06-20    130.779999
 2024-06-21    128.759995
 Name: Adj Close, Length: 6395, dtype: float64,
 'PLTR': Date
 2020-09-30     9.500000
 2020-10-01     9.460000
 2020-10-02     9.200000
 2020-10-05     9.030000
 2020-10-06     9.900000
                 ...
 2024-06-14    23.570000
 2024-06-17    25.020000
 2024-06-18    25.820000
 2024-06-20    25.559999
 2024-06-21    24.340099
 Name: Adj Close, Length: 937, dtype: float64}

In [7]:
import pandas as pd
pd.DataFrame({key:df['Adj Close'] for key, df in all_data.items()})

                  AAPL        MSFT        NVDA       PLTR
Date
1980-12-12    0.099192         NaN         NaN        NaN
1980-12-15    0.094017         NaN         NaN        NaN
1980-12-16    0.087117         NaN         NaN        NaN
1980-12-17    0.089273         NaN         NaN        NaN
1980-12-18    0.091861         NaN         NaN        NaN
...                ...         ...         ...        ...
2024-06-14  212.490005  442.570007  131.880005  23.570000
2024-06-17  216.669998  448.369995  130.979996  25.020000
2024-06-18  214.289993  446.339996  135.580002  25.820000
2024-06-20  209.679993  445.700012  130.779999  25.559999
2024-06-21  211.279999  449.304993  129.852600  24.355000

[10972 rows x 4 columns]